h1, h2, h3, h4, h5, h6{
	margin-top: 2px;
	margin-bottom: 5px;
}

.center-block{
	margin: 0 auto;
	display:block;
}

.img-responsive{
	max-width: 100%;
}






.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.70);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-menu{
	
	align-items: center;
}

#menu .card-footer{
	font-size: 14px;
	color: #606162;
	font-weight: 600;
	justify-content: center;
	
}

#menu .card-header::after{
	background-color: transparent;
}

#menu .card-p{
	color: #323232;
	font-weight: 200;
	justify-content: center;
	display: block; 
	text-align: center;
}

#menu .card-footer::before{
	background-color: transparent;
}

#menu .card-content img{
	max-height: 200px;
}

#nav-list .icon{
	color: #0d9f67;
}

#producto .info-producto{
	border: 1px solid #c7c7c7;
	margin: 32px 20px;
	padding:  20px; 
		
}

#producto .icon{
	color: #c7c7c7;
}

#producto .texto{
	color: #929aa4;
	text-align: center;
}

#producto .precio{
	text-align: center;
	color: #0d9f67;
	font-weight: 600;
	float: right;
}

.colo{
	color: #555454;
}

.fecha{
	color: #FF0004;
	text-align: center;
}
.p{
	text-align: center;
}


